<?xml version="1.0" encoding="utf-8"?>
<!-- config -->
<!-- Author: bottlep -->
<!-- DateCreated: 7/14/2023 8:44:26 PM -->
<GameData>



	<Maps>
		<Row Domain="Maps:Expansion2Maps" File="{7d0ac0f8-402b-4a9b-8073-ae85f1679659}Arrival.Civ6Map" Name="降临9V1" Description="降临9V1" StaticMap="1"  SortIndex="1"/>
	</Maps>

	<MapDomainOverrides>
		<!--未知-->
		<Row Map="{7d0ac0f8-402b-4a9b-8073-ae85f1679659}Arrival.Civ6Map" ParameterId="MapSize" Domain="Arrival_MapSize"/>
	</MapDomainOverrides>

	<MapSizes>
		<Row Domain="Arrival_MapSize" MapSizeType="MAPSIZE_SMALL" Name="LOC_MAPSIZE_SMALL_NAME" Description="LOC_MAPSIZE_SMALL_DESCRIPTION" MinPlayers="6" MaxPlayers="12" DefaultPlayers="10" MinCityStates="0" MaxCityStates="8" DefaultCityStates="8" SortIndex="10"/>
	</MapSizes>

	<Parameters>
		<Replace Key1="Map" Key2="{7d0ac0f8-402b-4a9b-8073-ae85f1679659}Arrival.Civ6Map" ParameterId="CONFIG_AI_PLAYER_INDEX" Name="中心出生点" Description="选择出生在地图中心的玩家" Domain="DOMAIN_PLAYER_INDEX_PICK" DefaultValue="10" ConfigurationGroup="Map" ConfigurationId="CONFIG_AI_PLAYER_INDEX" Hash="0" GroupId="GameOptions" SortIndex="211"/>
	</Parameters>

	<DomainRanges>
		<Replace Domain="DOMAIN_PLAYER_INDEX_PICK" MinimumValue="1" MaximumValue="10"/>
	</DomainRanges>
</GameData>
